repos:
  - repo: https://github.com/mxr/sync-pre-commit-deps
    rev: "v0.0.3"
    hooks:
      - id: sync-pre-commit-deps

  - repo: https://github.com/biomejs/pre-commit
    rev: v2.1.4
    hooks:
      - id: biome-check
        additional_dependencies: ["@biomejs/biome@2.1.1"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: debug-statements
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-case-conflict
      - id: detect-private-key

  - repo: https://github.com/rhysd/actionlint
    rev: "v1.7.7"
    hooks:
      - id: actionlint
