name: Manual Release
permissions:
  contents: write

on:
  workflow_dispatch:

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Get version
        id: version
        run: echo "version=$(jq -r .version package.json)" >> "$GITHUB_OUTPUT"

      - name: Zip extensions
        run: |
          pnpm zip
          pnpm zip:firefox

      - name: Read changelog
        id: changelog
        uses: mindsers/changelog-reader-action@v2
        with:
          version: ${{ steps.version.outputs.version }}

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: "v${{ steps.version.outputs.version }}"
          body: ${{ steps.changelog.outputs.changes }}
          draft: false
          prerelease: false
          files: |
            .output/*-chrome.zip
            .output/*-firefox.zip
            .output/*-sources.zip
